<h2>Hero details:</h2>
<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <div><span>Element: </span>{{hero.element}}</div>
  <div><span>Kann fliegen: </span>{{hero.kannFliegen}}</div>
  <div><span>Magie: </span>{{hero.magie}}</div>
  
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
</div>
<div *ngIf="!hero&&heroId">
  <h2>No Hero found with id={{heroId}}</h2>
</div>
<div *ngIf="!hero&&!heroId">
  <h2>No Id found</h2>
</div>
<button (click)="goBack()">go back</button>